.fundoCadastro {
    background-image: url("https://ik.imagekit.io/qvv2cbqgy/Design_sem_nome.png.webp?updatedAt=1754919405133");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: contain;
    background-position: left;
  }