.fundoCadastro {
    background-image: url("https://images-ext-1.discordapp.net/external/fLxGfWMyqUK7C3O5kfNBsD0VtT2SG5VBgzRGem0yII8/https/i.imgur.com/dE34T9c.jpg?format=webp&width=880&height=586");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: contain;
    background-position: left;
  }