@import 'tailwindcss';

.home{
    background-image: url("https://ik.imagekit.io/pedrolazzz/Design_sem_nome.png.webp?updatedAt=1754938595077");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.sombra{
    box-shadow: 7px 7px 10px rgba(253, 211, 71, 0.5);
}